@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Creating root scope, or variables to be used later*/
:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

*{
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    font-family:'Muli', sans-serif;
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width:100%;
    width:350px
}

.progress-container::before {
    /* Without this, the line will not show, because of ::before */
    content: '';
    /* This is creating the grey line(4px) */
    background-color: var(--line-border-empty);
    position:absolute;
    top: 50%;
    left:0;
    /* This moves the  line up to be in the middle of the numbers
    instead of the top of the line being in the middle */
    transform:translateY(-50%);
    height:4px;
    width: 100%;
    /* This puts the line behind the circles */
    z-index: -1;

}

.progress {
    /* This is creating the line(4px) */
    background-color: var(--line-border-fill);
    position:absolute;
    top: 50%;
    left:0;
    /* This moves the blue line up to be in the middle of the numbers
    instead of the top of the line being in the middle */
    transform:translateY(-50%);
    height:4px;
    width: 0%;
    /* This puts the line behind the circles */
    z-index: -1;
    transition: 0.4s ease;
}

.circle {
    background-color: #fff;
    color: #999;
    /* Make a circle */
    border-radius: 50%;
    height:30px;
    width: 30px;
    /* The next three put the numbers in the center of the circles */
    display:flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}

.circle.active{
    border-color: var(--line-border-fill);
}

.btn {
    background-color: var(--line-border-fill);
    color:white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size:14px;
}

/* This will make the button slightly smaller when we click it */
.btn:active {
    transform: scale(0.98);
    }
    
.btn:focus{
    outline:0;
}
    
.btn:disabled{
    background-color: var(--line-border-empty);
    /* This is so the cursor can not click the greyed out btn */
    cursor:not-allowed;   
} 
    