@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family:'Lato', sans-serif;
    margin: 0;
    /* This only hides scrollbar on the x-axis */
    overflow-x: hidden;
    background-color: #333;
    color:#222;
}

.container {
    background-color: #fafafa;
    /* This puts the shift point at the top left */
    transform-origin: top left;  
    transition: transform 0.5s linear;
    width:100vw;
    min-height: 100vw;
    padding: 50px;
}

.container.show-nav{
    /* This will rotate the screen */
    transform: rotate(-20deg);
}

.circle-container {
    position:fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #ff7979;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position:relative;
    transition: transform 0.5s linear;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.circle button {
    cursor: pointer;
    position: absolute;
    top:50%;
    left:50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color:white;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    /* Relative t0 the circle */
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
    /* The other one exists, it is just in the circle off the screen */
}

.content img {
    max-width: 100%;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

/* THis puts the nav in the area behind the rotation */
nav{
    position: fixed;
    bottom:40px;
    left:0;
    z-index:100;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color:#fff;
    margin: 40px 0;
    /* this is so that the nav bar is hidden until the rotation happens */
    transform: translateX(-100%);
    transition: transform 0.4s ease-in;
}

nav ul  li i {
    font-size: 20px;
    margin-right: 10px;
}

/* these next two cause the list items to be going out at n angle to match the rotation */

nav ul li + li {
    margin-left: 15px;
    transform: translateX(-150%);
}

nav ul li + li +li {
    margin-left: 30px;
    transform: translateX(-200%);
}

.content {
    max-width: 1000px;
    margin: 50px auto;
}

.content h1{
    margin:0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
    line-height: 1.5;
}




